<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke" parallel="tests" thread-count="1">
	<groups>
			<run>
				<include name="REGRESSION" />
			</run>
	</groups>
	<test name="BookManageTest">
		<parameter name="browserType" value="chrome" />
		<parameter name="url" value="http://127.0.0.1:8080/" />
		<classes>
			<class name="cn.com.gf.demo.tests.BookManageTest" />
		</classes>
	</test>
	<listeners>
		<listener class-name="cn.com.gf.demo.base.listener.TestCaseListener"></listener>
	</listeners>
</suite>
